{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	|Mentions Légales
{% endblock %}
{# La page MentionsLegales #}
{% block body %}

	{# Le titre #}
	<div class="title-mentionsLegales row">
		<h1 class="">Mentions légales</h1>
		<div class="center-hr">
			<hr class="hr25-pourcent center">
		</div>
	</div>

	<div class="container text-mentionsLegales">
		<h2>Dénomination</h2>
		<p>Association VELO RANDO NATURE BRUZ</p>

		<h2>Siège social</h2>
		<p>31 rue des Forges, 35170 BRUZ</p>

		<h2>Adresse e-mail</h2>
		<p>Contact : vrnb2020@velorandonaturebruz.fr</p>

		<h2>Directeur de la publication</h2>
		<p>Loïck Touchard (Président de l'association)</p>

		<h2>Hébergement</h2>
		<p>1&1 IONOS</p>

		<h2>Identification des éditeurs et siège social:</h2>

		<p>1&1 Internet SARL, 7 place de la Gare, BP 70109, 57200 Sarreguemines Cedex</p>

		<p>1&1 IONOS Cloud GmbH, Greifswalder Str. 207, 10405 Berlin, Allemagne</p>

		<h2>Collecte et traitement des données personnelles :</h2>

		<p>Les informations personnelles collectées sur ce site restent confidentielles et sont utilisées uniquement par l'association VELO RANDO NATURE BRUZ. Aucune de vos données personnelles ne sera divulguée à des tiers sans votre consentement explicite. Les informations collectées, notamment via le formulaire d'adhésion, sont utilisées à des fins internes uniquement, telles que la communication sur les prochaines sorties et les éventuelles annulations.
								Les personnes ayant accès à vos données personnelles sont les administrateurs du site et les prestataires externes chargés de la gestion du contenu du site internet.
								Conformément au Règlement Général sur la Protection des Données (RGPD) et à la loi Informatique et Libertés du 6 janvier 1978, vous disposez d'un droit d'accès, de rectification et de suppression de vos données personnelles. Si vous souhaitez exercer ces droits ou avoir des informations supplémentaires sur la gestion de vos données, vous pouvez nous contacter à l'adresse suivante :
			<br>
			<br>
			VELO RANDO NATURE BRUZ
			<br>
			31 rue des Forges, 35170 Bruz
			<br>
			E-mail :
			<span style="text-decoration: underline;">vrnb2020@velorandonaturebruz.fr</span>
		</p>

		<h2>Espaces de discussion</h2>

		<p>Nous vous rappelons de ne pas tenir de propos injurieux ni de reproduire de contenu protégé par le droit d'auteur sur le forum. Il est strictement interdit de collecter et d'utiliser à des fins commerciales les données personnelles apparaissant dans ces espaces de discussion.</p>

		<h2>Droit d'auteur</h2>

		<p>Le contenu de ce site est protégé par le droit d'auteur. Toute reproduction, même partielle, du site est strictement interdite sans le consentement préalable et écrit du titulaire des droits d'auteur.</p>

		<h2>Droit à l’image</h2>

		<p>Toute personne ayant signé le document concernant le droit à l’image autorise l’association VELO RANDO NATURE BRUZ à fixer, reproduire et communiquer au public les photographies, vidéos ou captations numériques prises dans le cadre associatif.</p>


		{# <h2>Dénomination</h2>
												<p>VELO RANDO NATURE BRUZ</p>
													<p>31 rue des Forges, 35170 Bruz</p>
													<p>vrnb2020@velorandonaturebruz.fr</p>
													<p>Directeur de la publication : Loïck Touchard (président de l'association)</p>
														
													<h2>Hébergement</h2>
														<p>1&1 IONOS</p>
														<p>Identification des éditeurs et siège social:</p>
														<p>1&1 Internet SARL, 7 place de la Gare, BP 70109, 57200 Sarreguemines Cedex</p>
														<p>1&1 IONOS Cloud GmbH, Greifswalder Str. 207, 10405 Berlin, Allemagne</p>
														
														
														<h2>Collecte et diffusion d’informations personnelles</h2>
														<p>
														Les informations fournies restent confidentielles et ne seront utilisées que par l’association VELO NATURE BRUZ. Aucune de vos données personnelles ne sera divulguée. Les informations collectées dans
									le formulaire d’adhésion sont exclusivement pour un usage interne, afin de pouvoir communiquer sur
						les
												prochaines sorties, et vous joindre en cas d’annulation.
													</p>
													<p>
													Les personnes qui ont accès à vos données personnelles sont les administrateurs du site, et les
													prestataires externes de la rédaction du contenu du site internet.
													</p>
												<!--<p>
													La durée de conservation des données est …
													</p> -->
												<p>
													Votre nom, prénom, pseudo et e-mail sont obligatoires.
													</p>
													<p>
													Conformément à la loi Informatique et Libertés du 6 Janvier 1978, vous disposez d'un droit d'accès
													et de rectification aux données personnelles vous concernant.
													Si vous souhaitez exercer ce droit, il vous suffit de nous écrire à :
													</p>
													<p>VELO RANDO NATURE BRUZ</p>
												<p>31 rue des Forges, 35170 Bruz</p>
													<p>ou : vrnb2020@velorandonaturebruz.fr</p>
														
														
												<h2>Espaces de discussion</h2>
													<p>Ne pas tenir de propos injurieux.</p>
													<p>Ne pas reproduire de contenu protégé par le droit d'auteur sur le forum.</p>
														<p>Il est interdit de collecter et d'utiliser à des fins commerciales les données personnelles
													apparaissant dans ces espaces de discussion.</p>
														
													<h2>Droit d’auteur </h2>
													<p>Le contenu du site est protégé par le droit d'auteur. Toute reproduction même partielle du site est
													ainsi interdite, sauf consentement express
													du titulaire des droits d'auteur.
														</p>
														
													<h2>Droit à l’image </h2>
													<p>Toute personne ayant signé le document concernant le droit à l’image autorise l’association RANDO
		NATURE BRUZ à fixer, reproduire et communiquer au public
													les photographies, vidéos ou captations numériques prises dans le cadre associatif.
								</p> #}


	</div>
	<br>


</div></div>{% endblock %}
