.navbar li ul a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background: #ddd;
    color: black;
}
.header-navbar{
    display: flex;
    justify-content: left;
    align-items: center;
}
.header-hello_user{
    display: flex;
    justify-content: right;
    align-items:center;
    padding-top: 10px;
}
.navbar-custom {
    height: 100px;

}
.logoVRNB {
    display: flex;
    max-height: 90px;
    max-width: 230px;
    overflow: visible;
    padding-top: 3px;
    padding-bottom: 3px;
}
header{
    background-color: #D7FCC5 ;
    color: black;
    position: fixed;
    width: 100%;
    z-index: 12;
    solid-opacity: 0.33;
}


}

.nav.link{
    width:350px;
}

