/*body {
	font-family: Ubuntu, SansSerif;
	width: 1000px;
	background-color: greenyellow;
}
*/


h1 {
	font-size: 1.3em;
	padding-bottom: 10px;
}

h2 {
	font-size: 1em;
	margin-top: 0px;
	margin-bottom: 8px;
}

p {
	margin: 0px;
	padding: 0px;
	line-height: 1.5em;
}

div#left {
	display: none;
	font-size: small;
	position: fixed;
	left: 0;
	top: 0;
	width: 300px;
}

div#content {
	position: relative;
	top: 50px;
}

div.text {
	padding: 10px;
}

div#left a {
	color: #0000a0;
}

div.orgChart a {
	color: black;
	text-decoration: none;
}

div.orgChart a:hover {
	color: black;
	text-decoration: underline;
}

img.star {
	width: 16px;
	height: 16px;
}

.membresBureau{
	background-color: dodgerblue;
}

.membresReferents{
	background-color: #9cd700;
}

#main{
	margin: auto;

}

#organisation{
	width: 100%;
}

.largeurCarte {
	border: 2px solid red;
}


