{% extends 'base.html.twig' %}

{% block title %}Liste des Référents | {{ parent() }}{% endblock %}
{# la page de la liste des référents #}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}

    <div class="global-referent">
        <h1>Liste des Référents</h1>
    </div>
        <div class="col-lg-12 center-hr">
            <hr>
        </div>
<div class="container color_box" >
    {% for referent in referents %}
        <div class="color_referent">
            <div class="row liste-referent">
                <div class="col-lg-12 nom-referent">
                    <p class="referent-style">
                        {{ referent.nom }}
                    </p>
                </div>
                <div class="col-lg-6 button-supprimer-modifier-referent">
                <a class="btn btn-success" href="{{ path('updateRef', {'id':referent.id}) }}">Modifier</a>
                <a class="espace-button-referent btn btn-secondary" href="{{ path('deleteRef', {'id':referent.id}) }}" onclick="return confirm('Voulez-vous vraiment supprimer ce référent ?')">Supprimer</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
    {% endif %}
{% endblock %}