/*
DOCUMENTATION SHOW
 */
.documentation_date, .documentation_date_modifier,.documentation_user {
    margin: 5px;
    width: max-content;
}

@media qu {
    
}
.documentation__paragraphe1 p, .documentation__paragraphe2 p{
    margin: 50px;
}
.documentation_date_user-show img, .documentation__etiquette img{
    width: 20px ;
    height:20px ;
    object-fit: contain;
}
.documentation__image1, .documentation__image2 {
    margin: 20px 80px 40px 80px;
    width: 500px;
    height: 500px;
    object-fit: contain;
}
.documentation__option a{
    text-decoration: none;
}
.categories__show p {
    margin: 10px;
    font-size: small;
    font-weight: bold;
    color: lightslategrey;
}
.intro__documentation p{
    margin: 10px;
    font-weight: bold;
}
.title__show p{
    font-size: xx-large;
    font-weight: lighter;
    margin: 10px;
    color:royalblue ;
}
.documentation__image1 p {
    text-align: center;
    font-style: italic;
    font-size: small;
    color: lightslategrey;
}
.documentation__image2 p {
    text-align: center;
    font-style: italic;
    font-size: small;
    color: lightslategrey;
}
.page_box{
    margin-top: 120px;
}
.documentation__box{
    background: white;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 5px 2px 10px black;
}
.main__documentation__show{
    padding: 0;
    margin: 0;
}
.documentation__show__header{
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.documentation_date_user-show{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.documentation-show__main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.documentation__pdf{
    width: 750px;

    height: max-content;
}
.documentation_date_modifier{
    color: lightslategray;
    padding-right: 30px;
}
.commentaire_box{
    background: white;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 5px 2px 10px black;
    margin: 20px 0 20px 0;
}

/**
    COMMENTAIRE
 */
.dateCreation_commentaire, .dateModification_commentaire{
    display: flex;
    align-items: center;
    font-size: small;
    font-weight: initial;
    font-style: italic;
    color: lightslategrey;
}
.update_commentaire a{
    text-decoration: none;
    margin: 10px;
}
.info_commentaire p {
    margin: 0 10px 0 10px;
}
.comment_commentaire p{
    font-family: Calibri, serif;
    margin: 10px;
}
.delete_commentaire img{
    width: 15px;
    height: 15px;
    object-fit: contain;
}
.documentation_commentaire{
    margin: 40px;
}
.info_commentaire{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.userName_commentaire{
    font-weight: lighter;
    color: black;
}
.delete_commentaire{
    display: flex;
    justify-content: flex-end;
}
.info_box{
    display: flex;
    flex-direction: row;
}
