.title-modifier-profil-admin{
    padding: 30px;
    display: flex;
    justify-content: center;
}
.affichage-admin-photo-profiledit{
    border-radius: 150px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    max-height: 325px;
    max-width: 325px;
}
.admin-profil-fond-noir{
    background-color:rgba(215, 252, 197,0.3);
    color: black;
    border-radius: 15px;
    border:solid 1px;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 1%;
}
/**
Partie Profil
 */
.color-button-retour{
    background-color: #FFFFFF;
}
.title-modifier-profil{
    padding: 30px;
    display: flex;
    justify-content: center;
}
.div-int-modifier-profil{
    display: flex;
    justify-content: center;
}
.th-modifier-profil{
    color: white;
}
.div-ext-modifier-profil{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.profil-form-fond-noir{
    background-color:rgba(215, 252, 197,0.3);
    border-radius: 15px;
    border:solid 1px;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
    color:black;
}
.global-div-img-profil{
    margin-top: 20px;
}
.global-profil-show{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.global-profiledit{
    display: flex;
    flex-direction: row;
    max-width: content-box;
    max-height: content-box;
    justify-content: center;
    margin-top: 100px;
}
.position-photo-profiledit{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.affichage-photo-profiledit{
    display: flex;
    justify-content: center;
    border-radius: 150px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    max-height: 325px;
    max-width: 325px;
}
.position-photo-show{
    flex-direction: row;
    display: flex;
    max-height: 325px;
    max-width: 325px;
}
.affichage-photo-show {
    border-radius: 150px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
}
.affichage-profil{
    display: flex;
    justify-content: center;
}
/**
/////////////////////////////////////////////////////////////
 */
.bas_form_adhérent1, .bas_form_adhérent2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: black;
}
.adherent_photo_profil a {
    text-decoration: none;
}
.form_adhérent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 15px;
    border:solid 1px;
    background-color:rgba(215, 252, 197,0.3);
    color: black;
    padding: 20px;
    margin-top: 120px;
}
.adherent_photo_profil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
}
.photo_profil{
    display: flex;
    flex-direction: column;
    object-fit: contain;
}
.centre_form_adhérent{
    display: flex;
    flex-direction: column;
    color: white;
}
.bas_form_adhérent{
    padding: 10px;
    display: flex;
    justify-content: center;
    color: black;
}
.adhérent_widget{
    color:black;
}

.margin_button {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;

}