.bas_form_image_album1, .bas_form_image_album2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.form_image_album p{
    color: #dddddd;
}
.album_photo_widget p{
    margin-right: 10px;
    font-weight: bold;
}
.placement_box{
    display: flex;
    justify-content: center;
}
.form_image_album{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color:rgba(49,49,49,0.7);
    padding: 20px;
    width: 600px;
}
.centre_form_image_album{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}
.bas_form_image_album{
    padding: 10px;
    display: flex;
    justify-content: center;
}
.album_photo_widget{
    display: flex;
    flex-direction: row;
    margin: 10px;

}
