.bas_form_pdf_album1, .bas_form_pdf_album2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.form_pdf_album p {
    color: white;
}
.placement_box{
    display: flex;
    justify-content: center;
}
.form_pdf_album{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color:rgba(49,49,49,0.7);
    padding: 20px;
    width: 600px;
}
.centre_form_pdf_album{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}
.bas_form_pdf_album{
    padding: 10px;
    display: flex;
    justify-content: center;
}
