.information_album_gauche , .information_album_centre, .information_album_droite{
    max-width: max-content;
}
.activite_date p, .activite_user p{
    color: lightslategray;
}
.activite_date img, .activite_user img{
    margin: 0 10px 0 10px;
    width: 20px ;
    height:20px ;
    object-fit: contain;
}
.activite_date, .activite_user{
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 40px;
}
.pdf_activite a {
    text-decoration: none;
}
.album_photos a {
    text-decoration: none;
}
.action_box a {
    padding: 0 5px 0 5px;
    text-decoration: none;
}
.album_photo_url a{
    text-decoration: none;
}
.activite_categorie p {
    margin: 10px;
    font-size: small;
    font-weight: bold;
    color: lightslategrey;
}
.activite_title p{
    font-size: xx-large;
    font-weight: lighter;
    margin: 10px;
    color:royalblue ;
}
.activite_infosActivite p{
    margin: 10px 0 20px 10px;
    font-weight: bold;
}
.activite_user p {
    margin-right: 10px;
}
.block_lien p{
    padding-top: 15px;
    text-align: center;
    text-decoration: none;
}
.participant p{
    margin: 0 5px 0 5px;
}
.information_album_droite img{
    margin-left: 20px;
    max-width: 100px;
    max-height: 100px;
}
.recap_box{
    background: white;
    border-radius: 5px;
    box-shadow: 5px 2px 10px black;
    margin-bottom: 50px;
}
.recap_show_header{
    padding: 50px;
}
.activite_date_user{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.information_activite_finie{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.information_album_centre{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.information_album_droite{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.list_participant{
    padding: 10px 10px 20px 10px;
}
.list_participant_title{
    font-size: x-large;
    font-weight: lighter;
    color:royalblue;
}
.participant{
    display: flex;
    flex-direction: row;
    width: max-content;
    padding: 20px;
}
.recap_pdf{
    font-size: x-large;
    font-weight: lighter;
    margin: 10px;
    color:royalblue;
}
.ajout_pdf{
    display: block;
    width: max-content;
    margin: 20px 0 20px 0;
}
.logo_create_pdf{
    margin: 0 10px 0 10px;
    width: 20px ;
    height:20px ;
    object-fit: contain;
}
.pdf_activite{
    padding: 50px;
}
.recap_url{
    font-size: x-large;
    font-weight: lighter;
    margin: 10px;
    color:royalblue;
}
.album_box{
    background: white;
    border-radius: 5px;
    box-shadow: 5px 2px 10px black;
}
.album{
    padding: 50px;
}
.album_title{
    font-size: xx-large;
    font-weight: lighter;
    margin: 10px;
    color:royalblue;
}
.ajout_photo{
    display: block;
    width: max-content;
    margin: 20px 0 20px 0;
}
.block_liena{
    text-decoration: none;
}
.logo_create_photo{
    margin: 0 10px 0 10px;
    width: 20px ;
    height:20px ;
    object-fit: contain;
}
.album_photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.photos_activite{
    width: 25%;
    height: 25%;
    margin: 25px 500px 25px 500px;
    object-fit: contain;
}
.photos_activite:hover{
    width: 90%;
    height: 90%;
    -webkit-transition: width 0.3s linear 0s;
}
.inscrit_box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.action_box{
    display: flex;
    justify-content: flex-end;
}
embed{
    width: 100%;
    height: 1500px;
}