.slider {
    height: 350px;
    margin: auto;
    position: relative;
    width: 60%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(700px * var(--nbImages));
    animation: scroll calc(5s * var(--nbImages)) linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-700px * calc(var(--nbImages) / 2)));
    }
}

.slide {
    /* Initialement les valeurs de height et width sont inversées */
    height: 300px;
    width: 350px;
    display: flex;
    align-items: center;
    padding: 20px;
    perspective: 100px;
}

img:hover {
    transform: translateZ(20px);
}

img {
    width: 100%;
    transition: transform 1s;
}

/*//////////////////////////*/
.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255, 255, 224, 1) 0%,
            rgba(255, 255, 224, 0)100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(360deg);
}

/*Css du Carrousel */

.box {
    --space: 2rem;

    display: grid;
    align-content: center;
    overflow: hidden;
    gap: var(--space);
    width: 60%;
    font-family: "Corben", system-ui, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-left: 20%;
    margin-right: 20%;
}

.marquee {
    --duration: 60s;
    --gap: var(--space);

    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.marqueegroup {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
    .marqueegroup {
        animation-play-state: paused;
    }
}

.marqueegroup img {
    max-width: clamp(10rem, 1rem + 28vmin, 20rem);
    aspect-ratio: 1.5/1;
    object-fit: contain;
    border-radius: 1rem;
    background-color: transparent;
}

.marquee--reverse .marqueegroup {
    animation-direction: reverse;
    animation-delay: calc(var(--duration) / -2);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% - var(--gap)));
    }
}
/*Fin du Css du Carrousel */