{% block body %}
<div class="container">
        <div class="col-sm12 mx-auto">
            <h1>Bonjour, le site est actuellement en maintenance :-)</h1>
            <img src="/photo-intro/site_maintenance.jpg" alt="Image de maintenance">
    </div>
</div>
{% endblock %}