{% extends 'base.html.twig' %}

{% block title %}Hello PasswordController!{% endblock %}

{# Cette page ne sert à rien ;) #}

{% block body %}


<div>
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/eddef/projetstorm/projetVRNB/src/Controller/PasswordController.php'|file_link(0) }}">src/Controller/PasswordController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/eddef/projetstorm/projetVRNB/templates/password/index.html.twig'|file_link(0) }}">templates/password/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
