{# Le filtre #}
{{ form_start(form, {attr: {class: 'filter'}}) }}
    {{ form_row(form.q) }}

    {# Le titre #}
    <h4>Catégories</h4>
    {{ form_row(form.categories) }}

    <button type="submit" class="btn btn-success w-100">Filtrer</button>
{{ form_end(form) }}