{% extends 'base.html.twig' %}
{# La page Modification de commentaire #}
{% block body %}
    <div class="container-fluid">

        {# Le Titre #}
        <div class="title__partenaire container-fluid row">
            <h1 class="col-12">Modification d'un commentaire</h1>
            <div class="center-hr col-12">
                <hr class="hr25-pourcent">
            </div>
        </div>
    </div>
    <div class="container-fluid box1">
        <div class="main__partenaire">

            {# Le formulaire #}
            <div class="form__partenaire">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}