{# Le footer #}

    {# Création d'une navbar en bas de la page, le menu footer #}
<div class="footer__container container-fluid navbar navbar-expand-lg navbar-dark p-3">


    {# pour le responsive on crée le menu burger qui s'affichera sur petit écran #}
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="box2 container">
        <div class="box6 row">

            {# Le carrousel #}
            <div class="box3 col-lg-12" id="navbarText">
                {% include 'inc/_footer_carousel.html.twig' %}
            </div>

            <div class="box5 col-lg-12 row">

                <div class="lien-footer col-lg-6" id="navbarText">

                    {# les boutons Qui somme nous ? , Mentions légales et Contact #}
                    <div class="nav_footer">
                        <a class="text-white" href="{{ path('presentation') }}">Qui sommes-nous ?</a>
                        <a class="text-white" href="{{ path('mentions_legales') }}">Mentions légales</a>
                        <a class="text-white" href="{{ path('contact') }}">Contact</a>
                    </div>

                </div>

                {# Le Copyright #}
                <div class="copyright col-lg-6" id="navbarText">
                    <p class="text-white">&copy;{{ "now"|date("Y") }} VRNB @ED</p>
                </div>

            </div>

        </div>
    </div>
</div>