.nav_footer a {
    font-size: large;
    font-weight: lighter;
    padding-left: 10px;
    text-decoration: none;
}
.copyright p{
    padding-right: 10px ;
}
.footer__container{
    display: flex;
    justify-content: center;
    padding:0;
    margin: 0;
}
.navbar-toggler{
    float:left;
    margin-right: 15px;
    margin-left: 0;
}
.navbar-collapse{
    background-color: #D7FCC5;
    color: black;
}
.box2{
    padding: 0;
    margin: 0;
    max-width: 100%;
}
.box6{
    padding: 0;
    margin: 0;
    max-width: 100%;
}
.copyright{
    display: flex;
    justify-content: flex-end;
}
main{
    position: relative;
    margin-bottom: 50px;
}
footer {
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url("../../content/ban page menu footer2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center ;
}

/**
    Carousel
 */
.item__title a {
    color: lightslategray;
    text-decoration: none;
}
.item img{
    display: block;
    width: 100%;
    min-height: 100px;
    max-height: 100px;
    border-radius: 5px;
    object-fit: contain;
}
.item{
    margin:  40px 10px;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    transition: transform 0.3s;
    transform: translate3d(0, -1px, 0);
}
.item:hover{
    transform: translate3d(0, -10px, 0);
}
.item__body{
    margin: 5px;
    padding: 10px 25px 10px 25px;
    background: white;
    border-radius: 5px;
}
.item__title{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}
.items{
    position: relative;
}

/**
CAROUSEL
 */
#carousel1{
    display: flex;
    justify-content: space-around;

}
.carousel__next, .carousel__prev{
    position: absolute;
    width: 40px;
    height: 40px;
    background: #fff url("../../logos/right-arrow.png") center center no-repeat;
    background-size: 20px 20px;
    border-radius: 50%;
    top: 50%;
    margin: 0 20px 0 20px;
    right: -20px;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}
.carousel__next:hover, .carousel__prev:hover{
    transform: scale(1.2);
}
.carousel__next--hidden, .carousel__prev--hidden {
    opacity: 0;
}
.carousel__pagination__button--active, .carousel__pagination__button:hover{
    transform: scale(1.4);
}
.carousel{
    position: relative;
    overflow-x: hidden;
    width: 60%;
    height: 60%;
}
.carousel__container{
    transition: transform 0.3s ;
    transform: translate3d(0, 0, 0);
}
.carousel__container::after{
    content: '';
    clear: both;
    display: table;
}
.carousel__item{
    float: left;
}
.carousel__prev{
    background-image:url("../../logos/left-arrow.png");
    right: auto;
    left: -20px;
}
.carousel__pagination{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
}
.carousel__pagination__button{
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display:inline-block ;
    margin: 0 3px;
    box-shadow: 0 2px 5px #3232321a;
    transition: transform 0.3s;
    cursor: pointer;
}

@media screen and (min-width: 800px) {
    .carousel__pagination{
        display: block;
    }
}